* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgba(13, 110, 139, 0.75);
    --overlay: rgba(24, 39, 51, 0.85);
    --green: #38CC7C;
    --cream: #E3F9C1;
    --clearorange: #DFA06A;
    --orange: #CE6E50;
    --pink: #C75359;
    --darkgray: #2f333cd3;
    --gray: #45464b;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
}

a {
    text-decoration: none;
    /*color: white;*/
    color: var(--darkgray);
}

li {
    list-style: none;
}


h1,
h2,
h3,
h4 {
    font-family: 'Kalam', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
}


/* COLOR PALETTE



*/


.container {
    background-image: url(/images/tabla.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image {
    height: 300px;
    background: transparent;
}



/* GENERAL PADDINGS */


.header,
.footer {
    padding: 0 2%;
}


.hero,
.episodes,
.subscribe,
.topics,
.aboutus,
.contactform {
    background: #fff;
    padding: 0 5%;
}

@media only screen and (min-width: 600px) {

    .header,
    .footer,
    .hero,
    .episodes,
    .subscribe,
    .topics,
    .aboutus,
    .contactform {
        padding: 0 7%;
    }
}

@media only screen and (min-width: 992px) {

    .header,
    .footer,
    .hero,
    .episodes,
    .subscribe,
    .topics,
    .aboutus,
    .contactform {
        padding: 0 15%;
    }
}






/* HEADER SECTION */


.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
    /*background: #45464b;
      color: #fff; */
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 75px;
    display: block;
    height: auto;
    padding: 5px;
    transition: all 0.4s ease;
}

.logo:hover {
    transform: rotate(135deg);
}


.nav-bar {
    text-align: right;
}

.menu ul {
    /*border: solid orange;*/
    text-align: right;
    display: flex;
    flex-direction: column;
    /*position: abolute;*/
}

.menu ul a {
    font-size: 1.2rem;
}

.menu label {
    margin-top: 10px;
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 5px;
    border: 1px solid transparent;
}

.menu ul li {
    background: #fff;
    border: 1px solid #EAEAEB;
    width: 180px;
    padding: 10px;
    transition: 0.4s;
}

/*
.menu li:hover{
    background: #222938c4;
}*/

.menu li ul {
    display: none;
}

.menu li:hover>ul {
    display: block;
}

.menu label:hover {
    border: 1px solid #EAEAEB;

    /*   background: #45464b;
    color: #fff;*/
}




@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 600px) {

    .header {
        align-items: center;
    }

    .menu ul li {
        width: 110px;
        padding: 5px;
        text-align: center;
        border: none;
        background-color: transparent;
    }

    .menu li ul {
        display: block;
        display: flex;
        flex-direction: row;

    }

    .menu ul li:hover {
        background-color: #2f333cd3;
    }

    .menu li:hover>ul {
        display: flex;

    }

    .menu li label {
        display: none;
    }
}




/*HERO*/


.hero {
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


.hero p {
    font-size: 20px;

    /*   background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);*/
    /*   transform: rotate(10deg);
    transform-origin: 20% 40%;*/

}

/*

.hero img {
    max-width: 100%;
    display: block;
    height: auto;
}
*/






/*EPISODES & TOPICS GENERAL */

.podcastsgrid,
.topicsgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.episodes iframe,
.topicsgrid div {
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
    margin: 10px;
    background-color: #fff;
}




/*

.episodes div,
.topics div {
 
    padding: 2%;
    min-height: 100px;
}

.container div .gridheader {
    background-color: transparent;
    text-align: center;
}




/*EPISODES*/


.episodes h2, .topics h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
 /*
@media only screen and (min-width: 992px) {
    .episodes {

         background-image: url(/images/tabla.jpg);
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
}
*/




/* TOPICS */


.topics {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 1.5rem;
    /*background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);*/
    background: #56ab2f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.topicsgrid div {
    
    height: 300px;
}




/*ABOUT US SECTION */


@media only screen and (min-width: 600px) {
    .aboutusdescription {
        display: flex;
    }
}



.btn {
    padding: 10px;
    background-color: #CE6E50;
    border: none;
    background: var(--primary);
    color: #fff;
    padding: 0.75rem 1.5rem;
    transition: opacity 0.8s ease-in-out;
    text-decoration: none;

    /*box-shadow: rgb(39, 104, 115) 0px 10px 14px -7px;
    background: linear-gradient(rgb(89, 155, 179) 5%, rgb(64, 140, 153) 100%) rgb(89, 155, 179);
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-shadow: rgb(61, 118, 138) 0px 1px 0px;
*/
}

.btn:hover {
    opacity: 0.8;
}


/*SUBSCRIBE */

.subscribe {
    height: 400px;

    color: rgb(255, 255, 255);
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.subscribe p {
    font-size: 30px;
}

/*CONTACT SECTION */

.contactform {
    height: 300px;
    /*background: transparent;*/
}

.formRow {
    padding: 10px 0;
}



/*FOOTER */

.footer {
    height: 150px;
    background: #C75359;
    color: #fff;
}

.footer ul {
    display: flex;
}