$color-primary: #fff;
$color-secondary: #2f333c;


$font-primary:'IBM Plex Mono', monospace;
$titles-font: 'IBM Plex Sans', sans-serif;
$special-font:'Shadows Into Light Two', cursive;     


$button-primary: rgba(68, 72, 87, 0.796); 
$button-secondary: rgba(13, 110, 139, 0.75);

$green: #57a99a;
$grey: #45464b;

/*
$lightgreen: #E3F9C1;
$clearorange: #DFA06A;
$orange: #CE6E50;
$pink: #C75359;
*/