.episodes {
    /*    border: solid rgba(0, 0, 0, 0.096) 1px;*/
    position: relative;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzc1IiBoZWlnaHQ9IjE3NyIgdmlld0JveD0iMCAwIDM3NSAxNzciIGZpbGw9%0D%0AIm5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIDE0%0D%0ATDM3NSAwVjE2MS41TDAgMTc3VjE0WiIgZmlsbD0iIzU3YTk5YSIvPgo8L3N2Zz4K");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $color-primary;
    font-size: 16px;

    &--title {
        padding-top: 5em;
        padding-left: 15%;
        text-align: left;
        font-size: 1.3em;
        padding-bottom: 2em;     

    }

    &--grid {
        padding-bottom: 10em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    iframe {
        width: 275px;
        margin: 10px;
    }
}

@media only screen and (min-width: 375px) {

    .episodes {
        iframe {
            width: 325px;
         
        }
    }
}


@media only screen and (min-width: 400px) {

    .episodes {


        iframe {
            width: 350px;
        }
    }
}

@media only screen and (min-width: 500px) {

    .episodes {
        &--title {
            padding-top: 5em;
            padding-left: 20%;
        }
    }
}

@media only screen and (min-width: 600px) {

    .episodes {
        font-size: 17px;

        iframe {
            width: 450px;
        }
    }
}

@media only screen and (min-width: 768px) {

    .episodes {
        &--title {
            padding-top: 6em;
        }

        iframe {
            width: 320px;           
            margin: 1em;
        }
    }
}

@media only screen and (min-width: 900px) {

    .episodes {
        font-size: 18px;

        iframe {
            width: 360px;
        }
    }

}


@media only screen and (min-width: 1024px) {

    .episodes {
        font-size: 20px;

        &--title {
            padding-top: 5em;
        }

        iframe {
            width: 400px;
        }
    }
}

@media only screen and (min-width: 1200px) {

    .episodes {

        &--title {
            padding-top: 5em;
        }

        iframe {
            width: 450px;
        }
    }
}