.contact {
    border: rgba(255, 192, 203, 0.075) solid;
    text-align: center;
    font-size:16px;
    padding: 0 1.5em 2em 1.5em;
    margin: 0 auto;

    &--form {
        
        &--title {
            font-size:1.5em;
            padding: 10px 0;

        } 

        &--columns{
            display:flex;

            &--left{
                width: 40%;
                text-align: right;
              
            }
            &--right{
                width: 60%;
                text-align: left;
              
               
            }
     
        }
        .form-elements{
            display:block;
            border: rgba(128, 128, 128, 0.062) solid;
            width: 100%;
            padding: 0.3em;
            height: 40px;
        }
    }

}