.hero {
    font-size: 16px;
    text-align: center;
    line-height: 1.7;


    &--image {
        height: 200px;
        background-image: url(~/images/sky.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    &--title {
        font-size: 1.3em;
        padding: 1.5em;
        padding-top: 2em;
    }

    &--content {

        padding-bottom: 1.5em;
       
        p {
            padding: 0 2em 1em 2em;
        }
    }

    button {
        position: relative;
        bottom: -0.5em;
    }

    button:hover {
        background-color: $green;
    }
}

@media only screen and (min-width: 375px) {

    .hero {
        &--image {          
            height: 250px;
        }
    }
}

@media only screen and (min-width: 470px) {

    .hero {
        &--image {
            background-position: center;
            height: 280px;
        }

        &--content {
            padding-bottom: 0;
        }

        button {
            bottom: -1em;
        }
    }
}


@media only screen and (min-width: 600px) {

    .hero {
        padding-bottom:1em;
        font-size: 17px;

        button {
            bottom: -2em;
        }

        &--image {
            background-image: url(/images/skytablet.png);
      
        }
    }
}



@media only screen and (min-width: 700px) {

    .hero {
      
        &--title {
            padding: 2em;
        }

        &--content {
            padding: 0 3.5em 2em 3.5em;
        }

        button {
            bottom: 0;
        }
    }

}


@media only screen and (min-width: 800px) {

    .hero {
        &--image {
            background-image: url(/images/skydesktop.png);
            background-position: center;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .hero {
        font-size: 20px;
        padding-bottom:2em;

        &--title {
            padding: 2em;
        }

        &--content {
            padding: 0 10em 2em 10em;
        }        
       
    }
}