/*$color-primary;
$color-secondary;*/
$color-primary: #fff;
$color-secondary: #2f333c;

/* Old colors
$button-primary: rgba(13, 110, 139, 0.75);
$button-secondary: rgba(24, 39, 51, 0.85);


$green: #38CC7C;
$cream: #E3F9C1;
$clearorange: #DFA06A;
$orange: #CE6E50;
$pink: #C75359;
$gray: #45464b;*/


$button-primary: rgba(13, 110, 139, 0.75);
$button-secondary: #444857cb;

$green: #57a99a;
$cream: #E3F9C1;
$clearorange: #DFA06A;
$orange: #CE6E50;
$pink: #C75359;
$gray: #45464b;